* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: var(--color-background);
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background: linear-gradient(#1b7ff180, #58a1f580 ) ;
}

.logo {
    width: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.cta__call {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 5px;
}

.cta__call:hover {
    background-color: orangered;
}

.cta__call a {
    color: black;
    font-weight: 700;
}

.cta__service {
    padding: 4px 8px;
    background: cornflowerblue;
    border-radius: 5px;
    margin: 0px 3rem 0;
    list-style: none;
}

.cta__service:hover {
    background-color: rgb(0, 47, 255);
}

.cta__service a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.heroShot, .services {
    display: flex;
    justify-content: center;    
    overflow: hidden;

}

.carrousel-container {
    position: relative;
    width: 100%;
    height: 665px;    
    /*background: gray;*/
}

.carrousel-images {
    width: 300%;
    height: 100%;
    display: flex;
    /*background: cyan;*/
}

.slider {
    width: calc(100% / 3);
    height: 100%;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: white;
    width: 100%;
}

.column {
    flex: 1;
    text-align: center;
}

.heroText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: white;
}

.btn-left, .btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 1.5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover, .btn-right:hover {
    background-color: #5a5aa0d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.btn-left img , .btn-right img{
    width: 24px;
    height: 24px;
}

/* WAVES*/
.waves-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
}

.waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
}

.wave1 use {
    fill: rgba(255,255,255, .1);
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
}

.wave2 use {
    fill: rgba(255,255,255, .2);
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
}

.wave3 use {
    fill: var(--color-background);
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
}

@keyframes move-forever1 {
    0% {
    transform: translate(85px, 0%);
    }
    100% {
    transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
    transform: translate(-90px, 0%);
    }
    100% {
    transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
    transform: translate(-90px, 0%);
    }
    100% {
    transform: translate(85px, 0%);
    }
}

/* CARDS */
.container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    margin-top: 1.3rem;
    display: flex;
	justify-content: center;
	align-items: center;
    gap: 15px;
	flex-wrap: wrap;
	padding: 30px
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #ffffff;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .5s;
}

.card:hover::after {
    transform: rotate(10deg);
}

.card:hover::before {
    transform: rotate(20deg);
}

.card .imgBox {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #101010;
    z-index: 1;
    transition: .5s;
}

.card:hover .imgBox {
    bottom: 75px;
}

.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 55px;
}

.card .details h2 {
    margin-bottom: 5px;
    padding: 0;
    font-weight: 900;
    font-size: 20px;
    color: #101010;
    text-align: center;
    line-height: 1.15em;
}

.card .details h2 span {
    font-weight: 400;
    font-size: 15px;
}

/* ROOT */
:root {
    --color-background: rgb(30, 30, 65); 
}